* {
  box-sizing: border-box;
}

:root {
  --Bright-Blue: hsl(220, 98%, 61%);
  --Check-Background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
  --Light-Grayish-Blue: hsl(233, 11%, 84%);
  --Dark-Grayish-Blue: hsl(236, 9%, 61%);
  --Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);

  --Very-Dark-Blue: hsl(235, 21%, 11%);
  --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
  --Light-Grayish-Blue: hsl(234, 39%, 85%);
  --Light-Grayish-Blue-hover: hsl(236, 33%, 92%);
  --Dark-Grayish-Blue: hsl(234, 11%, 52%);
  --Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
  --Very-Dark-Grayish-Blue: hsl(237, 14%, 26%);
}

.container{
  height: 100vh;
  width: 100%;
  font-family: 'Josefin Sans', sans-serif;
  background-color: white;
}

header{
  height:30%;
  width:100%;
  background-image: url(images/bg-desktop-light.jpg);
  margin-top:20px;
  margin-bottom: 20px;
}



.center-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  background-color: var(--Very-Light-Gray);


  margin-left: 200px;
  margin-right: 200px;
  
  /* margin-top:-100px; */
  
}


h1{

    font-weight: 700;
    margin-top:-150px;
    color:var(--Very-Light-Gray);
    padding:15px;
    
  
}

.input{

  
  background-color:var(--Very-Light-Gray);
  width:100%;
  height:30px;
  margin-top: -10px;


} 

#enterme{

  width:100%;
  border:1px solid white;
 
} 
button{
  background-color:white;
}


ul {
  list-style-type: none;
  padding: 0;
  border: 1px solid grey;
  width: 100%;
  margin-top:50px;
}

li {
  list-style-type: none;
  border: 1px solid black;
  padding:10px;
}

#checkbox,
.checkbox {
  width: 1.3em;
  height: 1.3em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

#checkbox:checked,
.checkbox:checked{
  background-color: hsl(280, 87%, 65%);
}




#bottom-box {
 
  width: 100%;
  margin-top:50px;
  background-color: var( --Very-Light-Gray);
  font-weight:400;
}

.checked-cut {
  text-decoration: line-through;
}



#mybutton{

  color: var( --Light-Grayish-Blue);
  float:right;
  color: red;
  
}




